@import "../Style.css";

.example-body{
    width: 100%;
    padding-top: 50px;
}

.text-center{
    text-align: center;
}

.example-body .rc-form-container{
    position: relative;
    height: 90vh;
}

.example-body .rc-form-container .user-form{
        width: 45%;
        max-width: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px 2px #bdbdbd;
        padding: 30px;
        border-radius: 5px;
}

.example-body .rc-form-container .user-form label input:not([type='radio']):not([type='checkbox']){
    width: 93%;
}

.btn-container{
    text-align: center;
    margin-top: 20px;
}

.submit-btn{
    padding: 12px 6px;
    text-align: center;
    background: #337ab7;
    color: #fff;
    border-color: #2e6da4;
    outline: none;
    box-shadow: unset;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}